body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif
}
.header{
	min-height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1497935586351-b67a49e012bf?dpr=1&auto=compress,format&fit=crop&w=751&h=&q=80&cs=tinysrgb&crop=);
	.logo_banner{

		img{
			width: 100%;
			}
		h1{
			font-size: 2.3rem;

		}
		p{
			font-size: 1.5rem;
		}
		.btn-outline-light:hover {
		    color: #000;
		}
		a{ font-size:1.5rem }
	} 
}
.navbar-bg{
	background-color: rgba(0,0,0,.9);
}
.bg-cover{
	background-size: cover;
	background-position: center center; 
}
.bg-attachment{
	background-attachment: fixed;// 背景圖固定
}
.border-8 {
    border: 8px solid white!important;
}
.quotebox{
	background-color:white;
	padding: 5%;
	border-radius: 30px; 
}
.text-quote{
	color: #eee;
}
.footer-bg{
	background-color: black;
}