
<footer>
  <div class="connect">© copyright 2023 | all rights reserved</div>
  <div class="social">
    <ul>
      <li><a><i aria-hidden="true" class="fa fa-twitter-square fa-lg"></i></a></li>
      <li><a><i aria-hidden="true" class="fa fa-facebook-square fa-lg"></i></a></li>
      <li><a><i aria-hidden="true" class="fa fa-google-plus-square fa-lg"></i></a></li>
      <li><a><i aria-hidden="true" class="fa fa-pinterest-square fa-lg"></i></a></li>
    </ul>
  </div>
</footer>
<script src="js/vendors.js"></script>
<script src="js/all.js"></script>