//about.html start

.about{
    padding:50px 0 ;
    width: 960px;
    margin:0 auto;
    color:$title-color;
    @include pad(){
        width: 90%;
    }
    h4{
        font-size: $font-h4;
        margin:20px 0;
        line-height: 2;
        @include pad(){
            font-size: $font-h2-s;
        }
    }
    
    p{
        line-height: 2;
        margin:0 20px 0 0;
        font-size: 13px;
        @include pad(){
            font-size: $font-h5;
        }
    }
}

//about.html end



