//hairstyle start

.item_gallery {
    margin: 0;
    padding: 0;
    overflow: hidden;
    @include pad(){
        margin:0 auto;
    }

}

.item_gallery li {
    width: 225px;
    padding: 0;
    display: block;
    float:left;
    margin:20px 7px;
    @include pad(){
        width: 25%;
        margin: 30px auto;
    }
    
    a { 
        background: url(../images/frame.png) no-repeat center top;
        padding:5px 7px 29px;
        display: block;
        @include pad(){
            background-image: none;
            padding:0;
            margin:0 5px;
           
        }


    }

    a img{
        display: block;
        margin:0;
        padding:0;

    }

    a:hover{
        opacity: 0.8;
    }
    

}

h4{
    font-size: $font-h4;
    margin:40px 10px 0;
    line-height: 2;
    color:$title-color;
    @include pad(){
        font-size: $font-h2-s;
    }
}

//hairstyle end