//index.html start

.ad_content{
    background: #ededed;
}
.adblock {
    width: 936px;
    margin: 50px auto 10px auto;
    border: 3px solid $border-color;
    border-radius: 3px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pad(){
        width: 95%;
        margin:50px 0;
        position: relative;
        margin:20px auto;   
    }
    img {
        height: 99.5%;
        @include pad(){
            opacity: 0.65;
        }
    }
    h2 {
        font-family: 'ChangaOne';
        font-weight: normal;
        font-size:$font-h2;
        width: 50%;
        @include pad(){
            position: absolute;
            width: 50%;
            top:60%;
            bottom:0;
            right: 0px;
            left:45%;
            font-size:$font-h2-s;
        }
    }
}


.item {
    margin: 0;
    padding: 0;
    overflow: hidden;
    @include pad(){
        margin:0 auto;
    }

}

.item li {
    width: 225px;
    padding: 0;
    display: block;
    float:left;
    margin:20px 7px;
    @include pad(){
        width: 90%;
        float: none;
        display: flex;
        margin: 30px auto;
        align-items: flex-start;
    }
    
    a { 
        background: url(../images/frame.png) no-repeat center top;
        padding:5px 7px 29px;
        display: block;
        @include pad(){
            background-image: none;
            padding:0;
            margin:0 5px;
        }
    div {
        @include pad(){
            margin: 0;
 
        }
    }

    }

    a img{
        display: block;
        margin:0;
        padding:0;


    }

    a:hover{
        opacity: 0.8;
    }
    
    h4{ 
        margin:0;
        padding:0 5px;
        font-size:$font-h4;
        line-height: 24px;
        font-weight: normal;
        text-transform: capitalize;
        @include pad(){
            font-size:$font-h3 ;
            font-weight: 700;
        }
    }
    p {
        font-size: 12px;
        line-height: 24px;
        color:$p-color;
        padding:0 5px;
        @include pad(){
            font-size: $font-h5;
            float: none;

        }
    }
}
.col-2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @include pad(){
        display: flex;
        flex-direction:column;
    }
}

.box{
    width: 460px;
    margin:10px;
    @include pad(){
        width: 90%;
        margin:15px auto;
    }
}

.featured,.hairstyle{
    border: 5px solid $border-color;
    border-radius: 5px;
    position: relative;
    padding:20px;
    background:white;
}

.title{
    position: absolute;
    top:-14px;
    background: url('../images/bg-featured.png') repeat-x;
    width: 180px;
    height: 47px;
    font-size: 20px;
    color:white;
    text-align: center;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-transform:capitalize;

}
.img_title{
    padding-top:40px;
    margin-bottom:50px;

    .featured_img{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;

        h3{
            margin-left:20px;
            font-size: $font-h3;
        }

    }

    .featured_p p{
        line-height: 24px;
        font-size: 12px;
        color: $p-color;
        margin-bottom: 20px;
        @include pad(){
            font-size: $font-h5;
            line-height: 28px;
        }
    }
}
.hairstyle{
    background: $box-bg;
    p{
        margin-top:40px;
        color: white;
        line-height: 2;
        font-size: 12px;
        @include pad(){
            font-size: $font-h5;
        }
        a{
            color:white;
        }
    }

}

.sign {
    margin:20px 0 10px 0;
    text-align: right;
    text-decoration: none;
    font-size: 18px;
    a{
        color: white;
        text-decoration: none;
    }

}

.smallbox{
    border: 5px solid $border-color;
    border-radius: 5px;
    margin-top:30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-bottom:2px;
    height: 225px;
    background: $box-bg;

    .img{
        width: 40%;
    }

    p{  width: 40%;
        font-size:16px;
        color: white;
        line-height: 2;
        margin:0 30px;
        @include pad(){
            margin:0px;
        }
    }

}

//index.html end