$border-color: #63b2bf;
$p-color:#464646;
$box-bg:#519194;
$menu-background-color:#1b2130;
$menu-background-color-hover:#345f66;
$meunu-background-alpha:rgba(52, 94, 101,0);

$title-color:#2f394e;


$font-h2:40px;
$font-h2-s:30px;
$font-h3:20px;
$font-h4:18px;
$font-h5:16px;