doctype html
// Doctype HTML5
html(lang='zh-tw')
  head
    // 設置文檔的字符編碼
    meta(charset='UTF-8')
    // 響應式網頁設計viewpoint聲明
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    // Meta Description
    meta(name=' description ', content=' Description of the page less than 150 characters ')
    meta(property=' og:type ', content=' website ')
    meta(property=' og:url ', content=' https://example.com/page.html ')
    meta(property=' og:title ', content=' Content Title ')
    meta(property=' og:image ', content=' https://example.com/image.jpg ')
    meta(property=' og:description ', content=' Description Here ')
    meta(property=' og:site_name ', content=' Site Name ')
    meta(property=' og:locale ', content=' zh_tw ')
    // 文檔標題
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/all.css')
    title about
  body
    header
      .headblock
        .logo
          a(href='#') zizurz
        ul.menu
          li
            a(href='index.html') HOME
          li
            a(href='about.html') ABOUT
          li
            a(href='hairstyle.html') HIRESTYLES
          li
            a(href='news.html') NEWS
          li
            a(href='contact.html') CONTACT
    section.content
      .about
        h4 About Us
        h4 We Have Free Templates For Everyone
        p
          | Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and
          | coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them. You can use them
          | to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links
          | if you want to.
        h4 We Have More Templates For You
        p
          | Looking for more templates? Just browse through all our Free Website Templates and find what you’re looking for. But if you
          | don’t find any website template you can use, you can try our Free Web Design service and tell us all about it.
          | Maybe you’re looking for something different, something special. And we love the challenge of doing something
          | different and something special.
        h4 Be Part Of Our Community
        p
          | If you’re experiencing issues and concerns about this website template, join the discussion on on our forum and meet other
          | people in the community who share the same interests with you.
        h4 Template Details
        p Design version 13
        p Code version 6
        p
          | Website Template details, discussion and updates for this Zizurz Website Template. Website Template design by Free Website
          | Templates. Please feel free to remove some or all the text and links of this page and replace it with your own
          | About content.
    footer
      .connect © copyright 2023 | all rights reserved
      .social
        ul
          li
            a
              i.fa.fa-twitter-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-facebook-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-google-plus-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-pinterest-square.fa-lg(aria-hidden='true')
