doctype html
// Doctype HTML5
html(lang='zh-tw')
  head
    // 設置文檔的字符編碼
    meta(charset='UTF-8')
    // 響應式網頁設計viewpoint聲明
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    // Meta Description
    meta(name=' description ', content=' Description of the page less than 150 characters ')
    meta(property=' og:type ', content=' website ')
    meta(property=' og:url ', content=' https://example.com/page.html ')
    meta(property=' og:title ', content=' Content Title ')
    meta(property=' og:image ', content=' https://example.com/image.jpg ')
    meta(property=' og:description ', content=' Description Here ')
    meta(property=' og:site_name ', content=' Site Name ')
    meta(property=' og:locale ', content=' zh_tw ')
    // 文檔標題
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/all.css')
    title contact
  body
    header
      .headblock
        .logo
          a(href='#') zizurz
        ul.menu
          li
            a(href='index.html') HOME
          li
            a(href='about.html') ABOUT
          li
            a(href='hairstyle.html') HIRESTYLES
          li
            a(href='news.html') NEWS
          li
            a(href='contact.html') CONTACT
    section.content
      .contact
        h4 Contact Us
        p
          | This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your
          | own text. You can remove any link to our website from this website template, you're free to use this website
          | template without linking back to us. If you're having problems editing this website template, then don't hesitate
          | to ask for help on the Forums.
        .address
          p Address : 7177 Saint Michael Drive, Los Angeles, CA 90048, United States
          p Office Phone Number : (864) 232-3553
          p Fax Number : (864) 232-4160
          p Email : info@zizurz.com
    footer
      .connect © copyright 2023 | all rights reserved
      .social
        ul
          li
            a
              i.fa.fa-twitter-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-facebook-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-google-plus-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-pinterest-square.fa-lg(aria-hidden='true')
