doctype html
// Doctype HTML5
html(lang='zh-tw')
  head
    // 設置文檔的字符編碼
    meta(charset='UTF-8')
    // 響應式網頁設計viewpoint聲明
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    // Meta Description
    meta(name=' description ', content=' Description of the page less than 150 characters ')
    meta(property=' og:type ', content=' website ')
    meta(property=' og:url ', content=' https://example.com/page.html ')
    meta(property=' og:title ', content=' Content Title ')
    meta(property=' og:image ', content=' https://example.com/image.jpg ')
    meta(property=' og:description ', content=' Description Here ')
    meta(property=' og:site_name ', content=' Site Name ')
    meta(property=' og:locale ', content=' zh_tw ')
    // 文檔標題
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/all.css')
    title zizurz
  body
    header
      .headblock
        .logo
          a(href='index.html') zizurz
        ul.menu
          li
            a(href='index.html') HOME
          li
            a(href='about.html') ABOUT
          li
            a(href='hairstyle.html') HIRESTYLES
          li
            a(href='news.html') NEWS
          li
            a(href='contact.html') CONTACT
    section.ad_content
      .adblock
        img(src='images/great-hairstyle.jpg', alt='')
        h2 Great hairstyle comes from the experts.
    section.content
      ul.item
        li
          a(href='#')
            img(src='images/hairstyle17.jpg', alt='')
          div
            h4 Best Hairstylists
            p
              | Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
              | What’s more, they’re absolutely free!
        li
          a(href='#')
            img(src='images/hairstyle18.jpg', alt='')
          div
            h4 Featured Hairstyle
            p
              | Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
              | What’s more, they’re absolutely free!
        li
          a(href='#')
            img(src='images/hairstyle19.jpg', alt='')
          div
            h4 Hair Care
            p
             | Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
             | What’s more, they’re absolutely free!
        li
          a(href='#')
            img(src='images/hairstyle20.jpg', alt='')
          div  
            h4 We "Hair" You
            p
              | Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
              | What’s more, they’re absolutely free!
    section.col-2
      .box
        .featured
          .title featured
          .img_title
            .featured_img
              img(src='images/featured.jpg', alt='')
              h3
                | Hair, I just meet you
            .featured_p
              p
                | Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded.
                | What’s more, they’re absolutely free! You can do a lot with them. You can modify them. You can use them to design
                | websites for clients, so long as you agree with the Terms of Use.
              p
                | You can even remove all our links if you want to. Looking for more templates? Just browse through all our Free Website Templates
                | and find what you’re looking for. But if you don’t find any website template you can use, you can try our Free Web
                | Design service and tell us all about it. Maybe you’re looking for something different, something special.
              p
                | And we love the challenge of doing something different and something special. If you’re experiencing issues and concerns
                | about this website template, join the discussion on our forum and meet other people in the community who share the
                | same interests with you. Version 13.
      .box
        .hairstyle
          .title hairstyle
          p
            | This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your
            | own text. You can remove any link to our website from this website template, you're free to use this website template
            | without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for
            | help on the 
            a(href='http://www.freewebsitetemplates.com/forums/') Forums
            | .
          .sign
            a(href='#') Mike M.
        .smallbox
          img(src='images/skinhead.png', alt='')
          p
            | Are you losing your hair? Let us help you in bringing back your confidence. 
            br
            span Call Us at 1800-0000-0000
    footer
      .connect
        | © copyright 2023 | all rights reserved
      .social
        ul
          li
            a
              i.fa.fa-twitter-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-facebook-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-google-plus-square.fa-lg(aria-hidden='true')
          li
            a
              i.fa.fa-pinterest-square.fa-lg(aria-hidden='true')
