
li{
    list-style: none;
}

.text-orange{
    color:$main-color; 
}

.btn-cart{
    position: relative;
    .badge{
        position:absolute;
        top:-14px;
        right:1px;
 
    }
}

.head-contact{
    font-size: $small-font;
}

.cloth-size{
    font-size: $small-font;
}



.box{
    background:yellow;
}

.sale_border{
    border-right: 1px solid #ccc;
    @include iphone(){ 
        border:0px;
    }
}
.sale_txt{
    font-size: $normal-small-font;
}

.text-gray{
    color:$star-none-color;
}
