

.categories {
    ul {
        padding: 0 10px;
        margin-top: 30px;
    }
}

.categories ul li {
    padding: 10px;
    font-size: $normal-small-font; // margin: 20px 0;
    &:hover {
        background: lighten($main-color ,20%);
    }
    a {
        color: #222222;
    }
}

